@import "@material/theme/color-palette";

// Svelte Colors!
$mdc-theme-primary: #388E3C;
$mdc-theme-secondary: #FFC107;

$mdc-theme-background: #fff;
$mdc-theme-surface: #fff;

$mdc-theme-error: $material-color-red-900;